.App {
  /*text-align: center;*/
}

.primaryBtn {
  background: #6a96dd;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
  border: 1px solid #ededed;
  cursor: pointer;
}

.primaryBtn.notVisible {
  display: none;
}

.tree-container {
  height: 100vh;
}

.tree-container .manipulation-block {
  padding: 20px;
  min-width: 400px;
  width: 400px;
  border: 1px solid #ededed;
  border-radius: 5px;
}

.manipulation-block .content-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.content-row h5 {
  width: 160px;
}

.manipulation-block .input-field {
  padding: 3px;
  border: 1px solid #ededed;
  border-radius: 5px;
}

.manipulation-block .input-field.border-error {
  border-color: #ff0000;
}

.input-field input, .input-field select {
  height: 16px;
  width: 200px;
  border: none;
  background: #ffffff;
}

.domain-container {
  width: 600px;
  padding: 20px;
  border: 1px solid #ededed;
  border-radius: 5px;
}

